.text-style{
    font-size: 30px;
    background: url(https://png.pngtree.com/thumb_back/fw800/background/20200414/pngtree-simple-blue-yellow-abstract-background-image_333814.jpg);
    -webkit-background-clip: text;
    color:transparent;
    background-position: center;
    background-size: 100%;
    font-weight: 700;
}
.blue-background{ 
    background-color: rgb(49, 102, 237) !important;
}